body {
    background-color: #c5aec0;
} 

.container {
    margin: 150px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 90px;
    margin-right: 350px;

}

.forms {
    color: rgb(17, 20, 20);
}

.txt-fld input {
    padding: 8px;
    border-radius: 10px;
    margin-left: 20%;

}
.all{
    text-align: center;

}

.logo .signup {
    padding-left: 450px;
}

.container h1 {
    font-size: 40px;
} 



.txt-fld label input {
    display: flex;
     margin-right: -20%; 
    border: 1px solid rgb(150, 143, 143) ;
}

.txt-fld label {
    margin: 10px;
    font-size: 20px;
}

.txt-fld input {
    width: 330px;
    height: 20px;
} 

 button {
    background-color: #dd3b1e;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 30px 3px; 
    border-radius: 10px; 
    width: 380px;
     height: 30px;
 }
 h1{
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-iteration-count: 9;
    

}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  } 
 }
 h5{
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  } 
 }
 